body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: grey;
}

.buying-section {
	width: 70%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	
	text-align: center; 
	
}

.calculate-section {
	width: 70%;
	display: flex;
	justify-content: center;
	flex-direction: column;


}

.displaySpan {
	background-color: white;
	width: 50px;
}

button {
	padding: 1em;
	border-radius: 0.5em;
	font-weight: bold;
	background-color: grey;
}
.button-div {
	width: 70%;
}



/* .calculate-button {
	text-align: end;
} */

@media (min-width: 768px) {
	
}